html {
  background : #1c1a18;
     }
a {
  font ; 1em "Fira Sans", sans-serif;
}
.Title {
  color : #5076ce;
  font: 1.5em "Fira Sans", sans-serif;
  border : 5px #2b2d33;
  background-color: #2a2c30;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
     }
